<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>豆瓣TOP250知识图谱问答机器人</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <body class="bg-gray-50 h-screen flex justify-center items-center">
    <div class="h-[80%] w-[80%] border rounded-xl overflow-hidden shadow flex">
        
        <div class="w-[300px] flex flex-col h-full px-5 py-8 bg-indigo-50 border-r">
    <div class="flex-1">
        <h1 class="font-bold text-2xl">电影知识问答</h1>
        <p class="text-sm mt-2 text-gray-600">——基于豆瓣电影Top250数据</p>
        <div class="border-2 rounded px-4 border-indigo-300 bg-white mt-6 divide-y">
            <div class="py-4">
                <h3 class="font-semibold">查属性</h3>
                <ul class="leading-7 mt-1 text-sm text-gray-700">
                    <li>介绍一下阿甘正传</li>
                    <li>霸王别姬的片长是多少？</li>
                    <li>阿甘正传的豆瓣评分是多少？</li>
                </ul>
            </div>
            <div class="py-4">
                <h3 class="font-semibold">查关系</h3>
                <ul class="leading-7 mt-1 text-sm text-gray-700">
                    <li>张国荣主演过哪些电影？</li>
                    <li>周星驰导演过哪些电影？</li>
                    <li>霸王别姬的导演是谁？</li>
                    <li>大话西游的主演有哪些？</li>
                    <li>张国荣和霸王别姬是什么关系？</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-gray-700 text-sm text-right">
        Copyright @ <a href="https://github.com/SodaShikenn/KBQA_movie">SodaShikenn</a>
    </div>
</div>
    <div class="bg-white flex-1 flex flex-col">
    <div class="px-5 py-3 border-b font-semibold">我的聊天</div>
    <div class="p-5 text-sm flex-1">
        <div class="space-y-3">
            <div>
                <div class="flex space-x-1 items-start">
                    <div class="border rounded-lg p-1">
                        <svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="9" y="17" width="30" height="26" rx="2" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M33 9L28 17" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M15 9L20 17" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><circle cx="34" cy="7" r="2" stroke="#333" stroke-width="4"/><circle cx="14" cy="7" r="2" stroke="#333" stroke-width="4"/><rect x="16" y="24" width="16" height="8" rx="4" fill="none" stroke="#333" stroke-width="4"/><path d="M9 24H4V34H9" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M39 24H44V34H39" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    </div>
                    <div class="border border-gray-300 px-3 py-2 bg-gray-100 rounded">
                        有什么可以帮你的吗?
                    </div>
                </div>
                <div class="flex space-x-1 items-start justify-end">
                    <div class="border border-blue-300 px-3 py-2 bg-blue-100 rounded">
                        霸王别姬的片长是多少？
                    </div>
                    <div class="border rounded-lg p-1">
                        <svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="24" cy="12" r="8" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M42 44C42 34.0589 33.9411 26 24 26C14.0589 26 6 34.0589 6 44" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    </div>
                </div>

                <div class="flex space-x-1 items-start">
                    <div class="border rounded-lg p-1">
                        <svg width="24" height="24" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="9" y="17" width="30" height="26" rx="2" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M33 9L28 17" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M15 9L20 17" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><circle cx="34" cy="7" r="2" stroke="#333" stroke-width="4"/><circle cx="14" cy="7" r="2" stroke="#333" stroke-width="4"/><rect x="16" y="24" width="16" height="8" rx="4" fill="none" stroke="#333" stroke-width="4"/><path d="M9 24H4V34H9" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/><path d="M39 24H44V34H39" stroke="#333" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    </div>
                    <div class="border border-gray-300 px-3 py-2 bg-gray-100 rounded">
                        霸王别姬的片长是：148分钟
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="border-t px-5 py-4 text-sm">
        <div class="flex items-end p-2 space-x-4 border border-2 rounded-xl">
            <textarea class="flex-1 h-16 px-3 py-1 outline-none" name=""></textarea>
            <button class="flex items-center bg-cyan-600 text-white rounded-lg px-3 py-1.5 space-x-1">
                <svg class="w-5 h-5" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M43 5L29.7 43L22.1 25.9L5 18.3L43 5Z" stroke="currentColor" stroke-width="4" stroke-linejoin="round"/><path d="M43.0001 5L22.1001 25.9" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/></svg>
                <span>发送</span>
            </button>
        </div>
    </div>
</div>
    </div>
</body>
</body>
<html>

